<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="item">
  <tr>
    <td colspan="2" class="itemBody"><{$thanks}><br><br><{$infonext}></td>
  </tr>
  <tr>
    <td rowspan="2" align="center" valign="top"><img src="<{$img}>" border='0'></td>
    <td class="itemHead"><{$srvname}></td>
  </tr>
  <tr>
    <td class="itemBody"><{$lng_price}> <strong><{$srvprice}></strong><br>
	<strong><{$lng_desc}></strong><br> <{$desc}><br>
	<{$lng_yourname}> <strong><{$clientname}></strong><br>
	<{$lng_yourmail}> <strong><{$payermail}></strong></td>
  </tr>
</table>
