<table width="100%" border="0" cellpadding="0" cellspacing="1" class="outer">
  <tr>
    <th colspan="2"><{$lang_edit}></th>
  </tr>
  <form name="frmEdit" action="editcontent.php" method="post">
  <tr>
    <td class="even"><{$lang_book}></td>
    <td class="odd"><strong><{$book_title}></strong></td>
  </tr>
  <tr>
    <td class="even"><{$lang_title}></td>
    <td class="odd"><{$index_title}></td>
  </tr>
  <tr>
    <td class="even"><{$lang_content}></td>
    <td class="odd"><{$xoops_codes}><{$xoops_smilies}></td>
  </tr>
  <tr>
    <td class="even">&nbsp;</td>
    <td class="odd"><input type="submit" name="Submit" value="Enviar">
      <{$data_extra}></td>
  </tr>
  </form>
  </table>
